<h1>Sign Up</h1>

<div class="card card-main-form">
    <div class="card-body form-card">
<%= bootstrap_form_for @staff, :url => '/signup' do |f|%>
    <%=f.text_field :name %>
    <%=f.text_field :title %>
    <%=f.text_field :username %>
    <%=f.password_field :password %>
    <%=f.submit%>
    <%end%>
    </div>
</div>
