<h1><%=@staff.name%></h1>
<h2><%=@staff.title%></h2>

<h3>Questions</h3>
<div class="row">
<%@staff.posts.each do |post|%>
    <div class="col-sm-3">
    <div class="card">
    <div class="card-body" >

    <b class="card-title"><%= link_to post.title, post_path(post), class: 'link' %></b><br>
    <p class="card-text"><%=post.content%></p>
   
    <ul class="list-group list-group-flush">
    <%post.solutions.each do |solution|%>
        <li class="list-group-item"><%= solution.content%></li>
    <%end%>
    </ul>
    </div>
        </div>
        </div>
<%end%>
</div>

