<h1><%=@staff.name%></h1>
<h2><%=@staff.title%></h2>

<h3>Questions</h3>
<div class="row">
<%@staff.posts.each do |post|%>
    <div class="col-sm-3">
    <div class="card">
    <div class="card-body" >

    <b><%= link_to post.title, post_path(post), class: 'link' %></b><br>
    <%=post.content%><br>
    ---Answers---<br>
    <%post.solutions.each do |solution|%>
        <%= solution.content%><br>
        ---<br>
    <%end%>
    </div>
        </div>
        </div>
<%end%>
</div>

