<h1>Questions</h1>
<div class="row">
<%@posts.each  do |post|%>
    
    <div class="col-sm-3">
    <div class="card">
    <div class="card-body" >
    
    <b class="card-title"><%= post.title %></b><br>
    <%=post.content%><br>

   <ul class="list-group list-group-flush">
    <%post.solutions.each do |solution|%>
        <li class="list-group-item"><%=solution.content%><br>
        <%=link_to solution.staff.name, staff_path(solution.staff), class: 'link'%></li>
        <%end%>
    </ul>
    <%if session[:user_id] == post.staff_id%>
        <button type="button" class="btn btn-sm btn-outline-info"><%= link_to "Answer Me", new_post_solution_path(post), class: 'link' %></button>

        <button class="btn btn-sm btn-danger"><%=link_to post_path(post), method: :delete, data: { confirm: "Really?" }, remote: true do%>
            <i class="fa fa-trash"></i>
            <%end%>
            </button>
            <%end%>
        </div>
        </div>
        </div>
        
    <%end%>
    </div>

   

    