<h1>Questions</h1>
<div class="row">
<%@posts.each  do |post|%>
    
    <div class="col-sm-3">
    <div class="card">
    <div class="card-body" >
    
    <b class="card-title"><%=link_to post.title, post_path(post), class: 'link' %></b><br>
    <%=post.content%><br>
   <b>---Answers---</b><br>
    <%post.solutions.each do |solution|%>
        <%=solution.content%><br>
        <%=link_to solution.staff.name, staff_path(solution.staff), class: 'link'%><br>
        ---<br>
        
        <%end%>
        <button type="button" class="btn btn-dark btn-sm"><%= link_to "Answer Me", new_post_solution_path(post), class: 'link' %></button><br>
        </div>
        </div>
        </div>
        
    <%end%>
    </div>



    