<h1>Ask away!</h1>

<%= bootstrap_form_for(@post) do |f|%>

    <%=f.text_field :title%><br><br>

    <%=f.text_area :content%><br><br><br>
    <%=f.label :category_id%><br>
    <%=collection_select(:post, :category_id, Category.all, :id, :name, prompt: true)%><br><br>
    <%=f.label :staff_id%><br>
    <%=collection_select(:post, :staff_id, Staff.all, :id, :name, prompt: true)%><br><br>
    <%=f.submit "Submit Question", class: 'submit btn'%>
<%end%>

