
    
    <b><%=@post.title%></b><br>
    <%=@post.content%><br>
    
   <b>---Answers---</b><br>
    <%@post.solutions.each do |solution|%>
        <%=solution.content%><br>
        <%=link_to solution.staff.name, staff_path(solution.staff), class: 'link'%><br>
        ---<br>
        <%end%>
        <button type="button" class="btn btn-light btn-sm"><%= link_to "Answer Me", new_post_solution_path(@post), class: "link" %></button><br>
        
        

